@use "./styles/variables" as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: v.$bg;
  color: v.$text;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input,
button {
  font: inherit;
}

button {
  cursor: pointer;
}
